.auth-btn {
    background-color: #ffe4d9;
    border: none;
    border-radius: 5px;
    color: #f95c19;
    font-family: "Oxanium";
    font-size: 1.2em;
    padding: 5px;
    font-weight: 500;
}

.active {
    color: #f95c19 !important;
}
a {
    font-family: "Raleway";
}

.responsive-image {
    max-width: 75%;
    height: auto;
    display: block;
    margin: auto;
}

/* Define media query */
@media screen and (max-width: 600px) {
    .responsive-image {
        width: 100%;
        height: auto;
    }
}
